<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .scene {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#111425, #3751e0);
  overflow: hidden;
  background-attachment: fixed;
}
.moon {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  z-index: 1000;
}
.moon:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#111425, #3751e0);
  background-attachment: fixed;
}

.scene i {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animate linear infinite;
}
.btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}


    </style>
    <title><%= title %></title>
  </head>
  <body>
      <!-- animation body starts -->
      <div class="scene">
        <div class="moon"></div>
        
     
      <!-- animation body ends  -->
    <!-- PARTIAL FOR HEADER -->
    <%- include('_header') %>

    <% if (locals.user) {%>
      <div class="container mt-4 col-md-4">
      <h4 style="
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    "><u>Add student</u></h4>
    
      <form class="row g-3 mt-1 border border-dark rounded p-2" 
       style="--bs-border-opacity: 0.5" action="/student/create" method="POST">
    
        <div class="col-12">
          <label for="name" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student name"
            id="name"
            name="name"
            required
          />
        </div>
    
        <div class="col-12">
          <label for="email" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student email"
            id="email"
            name="email"
            required
          />
        </div>
    
        <div class="col-12">
          <label for="college" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">college</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student college"
            id="college"
            name="college"
            required
          />
        </div>
    
        <div class="col-md-6">
            <label for="placement-status" class="form-label" style="
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          ">Placement status</label>
            <select id="placement-status" class="form-select" required name="placementStatus">
                <option selected>Not placed</option>
                <option>Placed</option>
            </select>
        </div>
    
        <div class="col-md-6">
            <label for="batch" class="form-label" style="
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          ">Batch</label>
            <input type="text" class="form-control" id="batch" placeholder="Enter batch no." name="batch" required/>
        </div>
    
        <div class="col-md-4">
          <label for="dsa-score" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">DSA score</label>
          <input type="number" class="form-control" id="dsa-score" name="dsa_score" required/>
        </div>
    
        
        <div class="col-md-4">
          <label for="webdev-score" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">WebDev score</label>
          <input type="number" class="form-control" id="webdev-score" name="webdev_score" required/>
        </div>
    
        
        <div class="col-md-4">
          <label for="react-score" class="form-label" style="
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        ">React score</label>
          <input type="number" class="form-control" id="react-score" name="react_score" required/>
        </div>    
        
       
          <div class="btnContainer" class="col-12">
            <button type="submit" class="btn btn-primary">Add Student</button>
          </div>
        
    
      </form>
    </div>
    </div>
    
    <%} %>
    <!-- animation body start   -->
  </div>
  <script type="text/javascript">
    function stars() {
      let count = 500;
      let scene = document.querySelector(".scene");
      let i = 0;
      while (i < count) {
        let star = document.createElement("i");
        let x = Math.floor(Math.random() * window.innerWidth);
        let y = Math.floor(Math.random() * window.innerHeight);

        let duration = Math.random() * 10;
        let size = Math.random() * 2;

        star.style.left = x + "px";
        star.style.top = y + "px";
        star.style.width = 1 + size + "px";
        star.style.height = 1 + size + "px";

        star.style.animationDuration = 5 + duration + "s";
        star.style.animationDelay = duration + "s";

        scene.appendChild(star);
        i++;
      }
    }
    stars();
  </script>
        <!-- animation body end  -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
